/* task 1 */
#greycol{
 color: gray;
}

.yellow{
 color: yellow;
}

.text-box > h3:nth-child(1){
 color: pink;
}

.text-box > div > p{
    color: red;
}

.text-box > div + h3 + p{
    color: green;
}
/* task 2 */

 .container > ul:first-child{

}

.container > ul:nth-child(2){

}

.container > ul:not([type="submit"]){

}

.container > ul:first-child{

}




